$blue: #0d6efd; 
$indigo: #7749F8; //Main color
$indigo-light: #ebe5fc;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545; 
$orange: #fd7e14;
$yellow: #ffc107; 
$green: #198754; 
$teal: #20c997;
$cyan: #0dcaf0; 
$white: #fff;
$gray: #C9C9C9;
$gray-100: #F8F9FA;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$primary-light: $indigo-light; 
$primary: $indigo;
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-900;

:root {
  --primary-light: #{$primary-light};
  --bs-primary: #{$primary};
  --gray-300: #{$gray-300};
  --gray-400: #{$gray-400};
}